/** @format */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Poppins,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
    font-size: 62.5%;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
